# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Telethon session files
*.session

# Local data files
responded_users.json